extends ../../layouts/default.pug

block styles 
    link(rel="stylesheet", href="/public/admin/css/dashboard.css")

block main
    //- Page Header
    .page-header
        .d-flex.flex-wrap.justify-content-between.align-items-center.gap-2
            h3.page-title Tổng quan