mixin search(keyword)
  .search-wrapper.mb-4
    .search-header.mb-2
      span.search-title
        i.bi.bi-search.me-2
        | Tìm kiếm
    
    form.search-form(id="form-search")
      .search-input-group
        .input-group.search-box
          span.input-group-text.search-icon
            i.bi.bi-search
          
          input.form-control.search-input(
            type="text"
            placeholder="Nhập từ khóa tìm kiếm..."
            name="keyword"
            value=keyword
          )
          
          button.btn.btn-success.search-btn(type="submit")
            i.bi.bi-search.me-1
            span Tìm