footer.footer.bg-dark.text-white.py-3.mt-auto
  .container.text-center
    small
      | © 2025 
      a.text-decoration-none.text-warning.fw-semibold(href="https://yourwebsite.com", target="_blank") NguyenThanhHoang
      | . All rights reserved.
