.slider
  .inner-menu
    ul
        li(class= activeMenu === 'dashboard' ? 'active' : '')
            a(href=`${prefixAdmin}/dashboard` aria-current= activeMenu==='dashboard' ? 'page' : false) Tổng quan
        li(class= activeMenu === 'course' ? 'active' : '')
            a(href=`${prefixAdmin}/courses` aria-current= activeMenu==='course' ? 'page' : false) Khóa học
        li(class= activeMenu === 'users' ? 'active' : '')
<<<<<<< HEAD
            a(href=`${prefixAdmin}/users` aria-current= activeMenu==='users' ? 'page' : false) Người dùng
=======
            a(href=`${prefixAdmin}/users` aria-current= activeMenu==='users' ? 'page' : false) Người dùng
>>>>>>> 1c7bf79ae1f9284f34628fc0e34358ffaaa7256d
